.container {
  font-weight: 500;
}

.info_container {
  padding: 20px;
  width: 50%;
}

.container h1 {
  font-size: 25px;
}

.container .image_list {
  display: flex;
  gap: 20px;
  padding: 12px;
}

.container .image_list .image_item {
  margin: 14px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .image_list .image_item .image {
  border-radius: 8px;
  object-fit: cover;
}

.container p {
  letter-spacing: 0.06rem;
}

.container p a {
  font-weight: 200;
}

.card {
  box-shadow: 0 0 10px rgba(116, 116, 116, 0.08);
  border-radius: 10px;
  border: 1px solid #e5e7eb;
}
